<html>
  <head>
    {% if title %}
    <title>{{ title }} - Library</title>
    {% else %}
    <title>Library</title>
    {% endif %}
  </head>
  <body>
    <div class=metanav>
      <a href="{{ url_for('index') }}">Home</a>
      {% if not logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
  </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
